<style type="text/css">
	.announcement {
		background-color: yellow;
		width: 50%;
		margin-top: 10px;
		border: 2px solid black;
		padding: 2px 2px 2px 2px;
		float: left;
	}
	#date {
		width: 50%;
	}
	#title {
		width: 50%;
	}
	#content_block {
		width: 100%;
	}
	.separator {
		float: left;
		width: 100%;
		height: 2px;
		background-color: green;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	





</style>
{% extends "base.html" %}
{% load static %}
{% block title %} News list {% endblock %}

{% block content %} 
	<div class="new_text">
	{% if latest_news_list %}
		{% for text in latest_news_list %}
		<div class="announcement">
			<div class="announcement_part" id="date">{{text.date}}</div>
			<div class="announcement_part" id="title">{{text.title}}</div>
			<div class="announcement_part" id="content_block">{{text.content | linebreaksbr }}</div>
		</div>
		{% endfor %}
	{% else %}
		NOTHING HERE
	{% endif %}
	</div>
	<div class="separator"></div>

	<div class="new_track">
	{% if latest_tracks_list %}
		{% for track in latest_tracks_list %}
		<div class="announcement">
			<div class="announcement_part" id="date">{{track.date}}</div>
			<div class="announcement_part" id="title">{{track.title}}</div>
			<div class="announcement_part" id="content_block">
			<audio controls="controls">
				<source src="{{MEDIA_URL}}{{track.content}}" type="audio/mpeg">
			</audio>
		</div>
		</div>
		{% endfor %}
	{% else %}
		NOTHING HERE
	{% endif %}
	</div>

	<div class="separator"></div>

	<div class="new_video">
	{% if latest_videos_list %}
		{% for video in latest_videos_list %}
		<div class="announcement">
			<div class="announcement_part" id="date">{{video.date}}</div>
			<div class="announcement_part" id="title">{{video.title}}</div>
			<div class="announcement_part" id="content_block">
				<video>
					<source src="{{video.content}}">
				</video>
				{{video.content}}
			</div>
		</div>
		{% endfor %}
	{% else %}
		NOTHING HERE
	{% endif %}
	</div>
 {% endblock %}