{% extends "base.html" %}

{% load static %}

{% block title %} Track list {% endblock %}

{% block content %} 

	{% if all_tracks %}
		{% for a in all_tracks %}
			<div class="track">
				<div class="track_part" id="track_title">{{a.title}}</div>
				<div class="track_block"><br>
					{{a.content}}
					<audio controls="controls">
						<source src="{{MEDIA_URL}}{{a.content}}" type="audio/mpeg">
					</audio>
					<div class="likes_block">{{a.likes}}</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		NOTHING HERE
	{% endif %}
{% endblock %}