{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Site name {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static '/styles/header_footer_and_bg.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/styles/content.css' %}">

</head>
<body>
	<header>
	<div class="menu">
		<div class="nav_button"><a href="../news_list">NEWS</a></div>
		<div class="nav_button"><a href="../track_list">TRACKS</a></div>
		<div class="nav_button"><a href="../about_author">AUTHOR</a></div>
	</div>
	</header>

{% block content %}{% endblock %}

{% block foot %} {% endblock %}
</body>
</html>